<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
    <p>You board your battle griffin, when a gatling gun suddenly rises from the roof of the car,
    preparing to aim at you. What do you do?</p>
    <ul>
      <li><a href="/shot">You get shot in the arm and need to amputate it</a></li>
      <li><a href="/land">You land in the nearby park across the street</a></li>
      <li><a href="/deadGriffin">You let your griffin die from blood loss and take an emergency parachute into the river 1 mile away</a></li>
    </ul>
  </body>
</html>
