<!DOCTYPE html>


<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="stylesheets/style.css">

  </head>
  <body>
    <p>You discover that the people in the car are all children-sized, but you
    do not know if they are kids or not. What do you do?</p>
    <ul>
      <li><a href="/mama">Ask them where their mamas are</a></li>
      <li><a href="/porpoise">You pretend to see a porpoise named Gabe in the distance, and try to jump out the car window</a></li>
      <li><a href="/sit">Sit quietly</a></li>
      <li><a href="/wave">You see TG taking a late night run and wave her down</a></li>
      <li><a href="/brought">You realize you brought your penguin whistle, which allows you to have the car swarmed by penguins instantaneously</a></li>
    </ul>
  </body>
</html>
