<!DOCTYPE html>


<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p>You decided to run away. But the car is slowly following you.
    What do you do?</p>
    <ul>
      <li><a href="/faster">Run faster</a></li>
      <li><a href="/ostrich">Summon battle ostrich</a></li>
      <li><a href="/tjay">Call Tjay</a></li>
      <li><a href="/superman">Call Superman for that favor he owes you</a></li>
      <li><a href="/pill">Eat the superhuman growth pill conveniently in your pocket</a></li>
    </ul>

  </body>
</html>
